@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

/* forms */

input, textarea, select, .uneditable-input {
  // border: 1px solid #bbb;
  width: 100%;
  // margin-bottom: 15px;
  // @include box_sizing;
}

// Railsは、無効な内容の送信によって元のページに戻されると、CSSクラスfield_with_errorsを持ったdivタグでエラー箇所を自動的に囲んでくれます。
// このラベルを使うことで、エラーメッセージをSCSSで整形することができます。
// Sassの@extend関数を使ってBootstrapのhas-errorというCSSクラスを適用してみます。
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}