@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

// フロートボタン
#btn-new-post {
  position: fixed;
  right: 5vw;
  bottom: 15vh;
}

.btn-return {
  position: fixed;
  right: 5vw;
  bottom: 15vh;  
}


共通フロートボタン
// .btn-float {
//   // position: fixed;
//   height: 100px;
//   width: 100px;
//   // right: 15vw;
//   // bottom: 15vh;
// }

// ニューポストの入力欄
#post_content {
  height: 1000vh;
  resize: none;
  overflow-y: scroll;
}






/* forms */

input, textarea, select, .uneditable-input {
  // border: 1px solid #bbb;
  width: 100%;
  // margin-bottom: 15px;
  // @include box_sizing;
}

// Railsは、無効な内容の送信によって元のページに戻されると、CSSクラスfield_with_errorsを持ったdivタグでエラー箇所を自動的に囲んでくれます。
// このラベルを使うことで、エラーメッセージをSCSSで整形することができます。
// Sassの@extend関数を使ってBootstrapのhas-errorというCSSクラスを適用してみます。
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#footer-menu {
  position: fixed;
  bottom: 0; /*下に固定*/
}

.checkbox {
  // margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  // width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  // margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 1vh 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    // margin-top: 5em;
    // padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 3vw;
  }

  .timestamp {
    color: $gray-light;
    // display: block;
    margin-left: 3vw;
  }

  .btn-info {
    margin-left: 3vw;
  }
}

// aside {
//   textarea {
//     height: 100px;
//     margin-bottom: 5px;
//   }
// }

// span.picture {
//   margin-top: 10px;
//   input {
//     border: 0;
//   }
// }