// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #post_content {
//   height: 1000vh;
//   resize: none;
//   overflow-y: scroll;
// }
textarea {
  height: 1000vh;
  resize: none;
  overflow-y: scroll;
}

.btn-float {
  position: fixed;
  right: 15vw;
  bottom: 15vh;
}